@media (max-width: 1200px){
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 15px;
    }
    .mobileScreen
    {
        display: none;
    }
}
@media (max-width: 1024px){
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 15px;
    }
    img.media-object {
        width: 100%;
    }
    .media {
        display: -ms-flexbox;
        display: block;
    }
    .agileits-button.two a
    {
        margin: 20px 0 ;
    }
}
@media (max-width: 991px){
    .mobileScreen
    {
        display: block;
    }
  
   

}
@media (max-width: 800px){
  
    .navbar-dark .navbar-nav .nav-link
    {
        font-size: 18px;
    }
    .w3_agile_team_grid h3{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .wimm_carousel .mainImg img {
    
        padding: 0px;
    }
  
        #login-dp{
            background-color: inherit;
            color: #fff;
        }
        #login-dp .bottom{
            background-color: inherit;
            border-top:0 none;
        }
        .parteners img
        {
            height: auto;
        }
        .banner .description{
            top:30%;
        }
        .banner figcaption button , .panel-title
        {
            font-size: 20px !important ;
        }
        .banner img , .about_agileinfo_grid_imgs img ,.l-grids figure img , .w3_agile_team_grid img {
            height: 200px;
      
}
ul#lightSlider
{
    height: 300px !important;
}
.sliderDescription{
    display:none;
}
iframe 
{
    height: 300px;;
}

}
@media (max-width: 480px){

}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
@media (max-width: 360px){

}
@media (max-width: 320px){

}

.navside {
    z-index: 999999;
}
