*
{
    font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
}
button, input, optgroup, select, textarea
{
    font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif !important;
 
}
ul 
{
    list-style-type: none;
    padding: 0;
}
$gray-color :  rgb(101, 98, 98);
$green-color : #50ab60 ;
a {
    color: $green-color;
}
a:hover {
    color: $gray-color;
}
.collapse:not(.show) {
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: none;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 30px;
    height: 100%;
    width: 100%;
    background: rgba(51,63,85,.9);
    border: 0;
    span
    {
        top: 0;
        position: absolute;
        right: 25px;
        color: #fff;

    }
    
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .items
  {
    position: absolute;
    top: 0;
    left: -70px;
    padding-left: 70px;
    width: 100%;
    height: 100%;
    background: #fff;
  
  }
/***********Header******/
.bg-light {
    background-color: #f8f9fa00!important;
}
 img.logo
{
max-width: 180px !important;

}
.top-header 
{
    .navbar-light .navbar-nav .nav-link {
        color: rgb(101, 98, 98);
        font-weight: bold;
        margin: 0 5px;
    }
    .navbar-light .navbar-nav .nav-link:hover ,  .navbar-light .navbar-nav .nav-link:focus ,  .navbar-light .navbar-nav .nav-link:active
    {
       color:#fff !important;
       background: $green-color;
       border-radius: 5px;
       border-color: $green-color;
    }

    
/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    // -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px -10px #50ab60;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: #50ab6096;
    color: #fff !important;
    border-radius: 5px;

  }
  
}
img.img-site{
position: absolute;
width: 180px;
background: #fff;
top: -4%;
padding: 15px 30px;
border-radius: 15px;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
box-shadow:  0 7px 6px #50ab608c;

}
.btn-primary {
    color: #fff;
    background-color: #50ab60 !important;
    border-color: #50ab60 !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #b3b3b3 !important ;
}
.logIn {
    margin: 0 30px;
    .btn-primary {
     
        background-color:#fff!important;
        border-color:#fff !important;
        color: rgb(101, 98, 98);
    }
    .modal-dialog
    {
        width: 500px;
    }
}

 .modal-body
 {
  h3 {
    text-align: center;
    font-weight: 400;
    font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 22px;
    color: #4a4a4a;
}
p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #4a4a4a;
}
 }
 .modal-dialog {
    max-width: 700px;
 }
 .modal-body {
 
    padding: 1rem 6rem;
 }
 .form-group input {
    width: 100%;
    background: 0 0;
    color: #4a4a4a;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.form-group label.md-label {
    color: #4a4a4a;
    font-size: 14px;
    text-transform: none;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
 .form-group label.md-label {
    color: #4a4a4a;
    font-size: 14px;
    text-transform: none;
    position: absolute;
    pointer-events: none;
}
 .form-group input:focus,  .form-group input:valid {
    border-bottom: 1px solid #4aa75b;
}
 .form-group input:focus~label.md-label, .form-group input:valid~label.md-label {
    top: -20px;
    font-size: 12px;
    color: #4aa75b;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.form-group {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.form-group input:focus, .form-group input:valid {
    border-bottom: 1px solid #4aa75b;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 147, 60, 0.62);
    box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0);
}
p.flatwell {
    text-align: center;
}
.SignInBtn 
{
    display: block;
    text-align: center;
    button
    {
        width:70%;
    }
    .btn-primary 
    {
        background: $green-color !important;
        color: #fff;
    }
    .btn-facebook{
    background: #3b5998;
    width: 70%;
    color: #fff;
    margin-bottom: 20px;
    }
}

.backgroundCover
{
    background: url(images/header-hero1.original.original.width-1920.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 50px 0 ;
     h1 , p
     {
       color :#fff;
     }
     p 
     {
         font-size: 15px;
         margin: 0 !important;
     }
     button {
         background: none;
         border:none;
         color: $green-color;
         font-size: 36px;
         padding: 0;
     }
     .search 
     {
         margin: 40px 0 ;
     }
}

.select2-container--bootstrap

{
    min-width: 250px;
    width:250px !important ;
.select2-container--focus .select2-selection,
.select2-container--open .select2-selection 
{
outline: none !important;
border:none;
box-shadow: none;
border-radius: 0 !important;
}
}
button.btn.btn-primary-2 {
    font-size: 20px;
    background: #50ab60;
    color: #fff;
    padding: 3px 20px;
    margin: 10px 0;
}

/***********Header******/


/*******************create free acount ***********/
.creatFree
{
    margin: 50px 0;
    h2
    {
        margin-bottom: 30px;

    }
}


.block-signup
{

    .mask
    {
        background: url("images/masks.png");
        background-repeat: no-repeat;
        background-position: right 0px top 0px;
        background-size: auto 65%;
    }
    .projector
{
    background: url("images/projector.png");
        background-repeat: no-repeat;
        background-position: right 0px top 0px;
        background-size: auto 65%;
}
    border: 1px solid #eee;
    padding: 40px 20px ;

    &:hover {
    box-shadow: 0 2px 10px 0 #f1f1f1;
}
&:hover h4 {
color: $green-color;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
svg.svg-inline--fa.fa-star.fa-w-18
{
    color: $green-color;
}
h4 
{
 
    margin-bottom: 20px;
}
li
{
    color: $gray-color;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
}
hr {
    margin-top: 2rem;
}
button.btn.btn-primary
{
    float: right;
}
em 
{
    color: #a9a8a8;
}

}

/*******************create free acount ***********/

/*******************fillter job******************/


.fillterJob
{
    background-color: #f8f8f8;
    padding: 40px;
    p{
        color:#949090;
        font-size: 14px;
    }
}


/*******************fillter job******************/
/**********************stories*******************/
.successStories {
    margin: 50px 0;

.story{
p {
    color: #949090;
    font-size: 14px;

}
}
.play{
  position: relative;
}
svg.svg-inline--fa.fa-play.fa-w-14
{
   
    position: absolute;
    top:50%;
    left: 50%;
    color:$green-color;
    transform: scale(0);
       
    -webkit-transition: all 180ms ease-in-out; 
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
 

}
    img 
      {
    border-radius: 7px 7px 0 0;
    min-height: 200px;
    height: 200px;
    width: 100%;
    
      }
      .play:hover svg.svg-inline--fa.fa-play.fa-w-14
      {
          display: block;
          transform: scale(2);
   
     }
     button{
        margin: 30px 0 ;

     }

   
}
.story-border
{
    border: 4px solid #e4f1fd;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    margin-top: -7px;
    color:$gray-color;
    padding: 42px 30px 0;
    ul {
        border-top: 2px solid #e4f1fd;
        list-style-type: none;
        color: $green-color;
        display: flex;
        padding: 0 ;
       }
       li 
       {
        margin: 20px;
       }
       span 
       {
           color: $gray-color;
       }
       svg:not(:root).svg-inline--fa
       {
           font-size: 20px;
       }
}
.story-info
{

 
   min-height: 320px;


   time {
       font-size: 16px;
       opacity: .8;
   }
   a , a:hover{
       text-decoration:  none;
       color: $gray-color;
   }
   h3{
       margin: 20px 0 ;
       font-family: LatoWebLight,LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
   }
 
   
}
   


 /**********************stories*******************/
 /**************footer****************************/
 footer {
    margin-top: 100px;
    background: #232d40;
    color:#ccc;
    .container{
    padding: 85px 15px;
    }
    p{
        font-weight: 300;
        margin: 30px 0;
        font-size: 14px;
        line-height: 17px;
   
    }
    h4 , li 
    {
        font-size: 14px;
        line-height: 50px;
        font-weight: 300;
        font-family: LatoWebLight,LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
    }
    a 
    {
        color: #ccc;
        transition: all 150ms ease-in-out;
        &:hover{
            color: $green-color;
            text-decoration: none;
        }
    }
    .social 
    {

        display: flex;
       
        a 
        {
            background: #485266;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-size: 30px;
            margin: 0 10px 10px 0;
            text-align: center;
            display: block;
            &:hover{
                color:#fff;
            }
        }
    }

 }
 .copyright 
{
    background: #1b2434;
    color: #fff;
    font-weight: 400;
    font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 17px;
 p {
    margin: 0;
    text-align: center;
    padding: 17px 15px 14px;
}
}
 /**************footer****************************/



.profile-header {
    position: relative;
    background: #f5f5f5;
    padding: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -ms-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    -o-box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

li {
    padding-left: 20px ;
}
a {
    padding-left: 1px;
    padding-right: 1px;
    margin-bottom: -4px;
    display: block;
    border-bottom: 4px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 0 ;
    color: $gray-color;
    font-size: 14px;
  
    &:hover 
    {
            border-bottom: 4px solid $green-color;
            color: $green-color;
            transition: all .1s linear;
            text-decoration: none;
    }

}
a.active{
    border-bottom: 4px solid $green-color;
    color: $green-color;
    transition: all .1s linear;
    text-decoration: none;
    }
}
.dropdown-menu{
    left: auto;
}
.feedBackground
{
   background: #f0f0f0;
   padding: 40px 0 100px;
   margin-bottom: -100px;
   .container
   {
       max-width: 700px;
       border: 1px solid #e5e9f2;
       box-shadow: 0 2px 4px 0 rgba(0,0,0,.03);
       background: #f8f9fb;
       border-top: 1px solid #e5e9f2;
    
   }
   .feedHeader
{
    background: #fff;
    padding: 12px 5px;
    .pull-left
    {
    font-size: 16px;
    color: #333f55;
    line-height: 35px;
   }

   .pull-right
   {
      float: right;
   }
   .followers a
   {
   position: relative;
   border-radius: 50px;
   border: 2px solid #fff;

   transition: all 150ms ease-in-out;
   background-position: center top;
   background-repeat: no-repeat;
   display: inline-block;
   margin-left: -20px;
   width: 40px;
   height: 40px;
   vertical-align: middle;
   
   &:nth-child(2n) {
    z-index: 19;
   }
   &:first-child {
    z-index: 20; 
    margin-left: 0;
}
&:hover{
    border: 2px solid #e5e9f2;
    margin-left: 0;
    }

}/******* A *****/
}/******feedHeader*****/
.seeMore 
span {
color: #ebecef;
&:hover{
  color: $green-color;
}
}
.btn {
background: #ebecef;
color: #333f55 !important;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
-o-border-radius: 50px;
border-radius: 50px;
-webkit-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
margin-right: 6px;
&:hover{
   background: $green-color;
   color: #fff !important;
}

}
}
.feedPerson
{
   
    padding: 0 15px 30px;
    .personCard
    {
        border: 1px solid #e5e9f2;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
        padding: 23px;
        text-align: center;
        display: block;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        margin-top: 30px;
      .personImg
      {
        display: block;
        margin: 0 auto 10px;
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
     
      }
      .personName
        {
          color: $green-color;
          display: block;
        }
        .btn-follow
        {
            margin-top: 15px;
            background: #fff;
            border: 1px solid #e5e9f2;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            transition: all 150ms ease-in-out;
            width: 100%;
            margin-right: 0;

            &:hover{
             color:#fff;
             background: #333f55;
            }
        
        }
    }
}

 
 /*********************feed************************/ 


 