* {
  font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
}

button, input, optgroup, select, textarea {
  font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #50ab60;
}

a:hover {
  color: #656262;
}

.collapse:not(.show) {
  display: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: none;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 30px;
  height: 100%;
  width: 100%;
  background: rgba(51, 63, 85, 0.9);
  border: 0;
}

.sidebar .closebtn span {
  top: 0;
  position: absolute;
  right: 25px;
  color: #fff;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 16px;
}

.items {
  position: absolute;
  top: 0;
  left: -70px;
  padding-left: 70px;
  width: 100%;
  height: 100%;
  background: #fff;
}

/***********Header******/
.bg-light {
  background-color: #f8f9fa00 !important;
}

img.logo {
  max-width: 180px !important;
}

.top-header {
  /* Grow Shadow */
}

.top-header .navbar-light .navbar-nav .nav-link {
  color: #656262;
  font-weight: bold;
  margin: 0 5px;
}

.top-header .navbar-light .navbar-nav .nav-link:hover, .top-header .navbar-light .navbar-nav .nav-link:focus, .top-header .navbar-light .navbar-nav .nav-link:active {
  color: #fff !important;
  background: #50ab60;
  border-radius: 5px;
  border-color: #50ab60;
}

.top-header .hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
}

.top-header .hvr-grow-shadow:hover, .top-header .hvr-grow-shadow:focus, .top-header .hvr-grow-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px #50ab60;
          box-shadow: 0 10px 10px -10px #50ab60;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: #50ab6096;
  color: #fff !important;
  border-radius: 5px;
}

img.img-site {
  position: absolute;
  width: 180px;
  background: #fff;
  top: -4%;
  padding: 15px 30px;
  border-radius: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 7px 6px #50ab608c;
          box-shadow: 0 7px 6px #50ab608c;
}

.btn-primary {
  color: #fff;
  background-color: #50ab60 !important;
  border-color: #50ab60 !important;
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #b3b3b3 !important;
          box-shadow: 0 0 0 0.2rem #b3b3b3 !important;
}

.logIn {
  margin: 0 30px;
}

.logIn .btn-primary {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #656262;
}

.logIn .modal-dialog {
  width: 500px;
}

.modal-body h3 {
  text-align: center;
  font-weight: 400;
  font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 22px;
  color: #4a4a4a;
}

.modal-body p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #4a4a4a;
}

.modal-dialog {
  max-width: 700px;
}

.modal-body {
  padding: 1rem 6rem;
}

.form-group input {
  width: 100%;
  background: 0 0;
  color: #4a4a4a;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form-group label.md-label {
  color: #4a4a4a;
  font-size: 14px;
  text-transform: none;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form-group label.md-label {
  color: #4a4a4a;
  font-size: 14px;
  text-transform: none;
  position: absolute;
  pointer-events: none;
}

.form-group input:focus, .form-group input:valid {
  border-bottom: 1px solid #4aa75b;
}

.form-group input:focus ~ label.md-label, .form-group input:valid ~ label.md-label {
  top: -20px;
  font-size: 12px;
  color: #4aa75b;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.form-group input:focus, .form-group input:valid {
  border-bottom: 1px solid #4aa75b;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 147, 60, 0.62);
  box-shadow: 0 0 0 0.2rem rgba(245, 245, 245, 0);
}

p.flatwell {
  text-align: center;
}

.SignInBtn {
  display: block;
  text-align: center;
}

.SignInBtn button {
  width: 70%;
}

.SignInBtn .btn-primary {
  background: #50ab60 !important;
  color: #fff;
}

.SignInBtn .btn-facebook {
  background: #3b5998;
  width: 70%;
  color: #fff;
  margin-bottom: 20px;
}

.backgroundCover {
  background: url(images/header-hero1.original.original.width-1920.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  padding: 50px 0;
}

.backgroundCover h1, .backgroundCover p {
  color: #fff;
}

.backgroundCover p {
  font-size: 15px;
  margin: 0 !important;
}

.backgroundCover button {
  background: none;
  border: none;
  color: #50ab60;
  font-size: 36px;
  padding: 0;
}

.backgroundCover .search {
  margin: 40px 0;
}

.select2-container--bootstrap {
  min-width: 250px;
  width: 250px !important;
}

.select2-container--bootstrap .select2-container--focus .select2-selection,
.select2-container--bootstrap .select2-container--open .select2-selection {
  outline: none !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 !important;
}

button.btn.btn-primary-2 {
  font-size: 20px;
  background: #50ab60;
  color: #fff;
  padding: 3px 20px;
  margin: 10px 0;
}

/***********Header******/
/*******************create free acount ***********/
.creatFree {
  margin: 50px 0;
}

.creatFree h2 {
  margin-bottom: 30px;
}

.block-signup {
  border: 1px solid #eee;
  padding: 40px 20px;
}

.block-signup .mask {
  background: url("images/masks.png");
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: auto 65%;
}

.block-signup .projector {
  background: url("images/projector.png");
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: auto 65%;
}

.block-signup:hover {
  -webkit-box-shadow: 0 2px 10px 0 #f1f1f1;
          box-shadow: 0 2px 10px 0 #f1f1f1;
}

.block-signup:hover h4 {
  color: #50ab60;
}

.block-signup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block-signup svg.svg-inline--fa.fa-star.fa-w-18 {
  color: #50ab60;
}

.block-signup h4 {
  margin-bottom: 20px;
}

.block-signup li {
  color: #656262;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}

.block-signup hr {
  margin-top: 2rem;
}

.block-signup button.btn.btn-primary {
  float: right;
}

.block-signup em {
  color: #a9a8a8;
}

/*******************create free acount ***********/
/*******************fillter job******************/
.fillterJob {
  background-color: #f8f8f8;
  padding: 40px;
}

.fillterJob p {
  color: #949090;
  font-size: 14px;
}

/*******************fillter job******************/
/**********************stories*******************/
.successStories {
  margin: 50px 0;
}

.successStories .story p {
  color: #949090;
  font-size: 14px;
}

.successStories .play {
  position: relative;
}

.successStories svg.svg-inline--fa.fa-play.fa-w-14 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #50ab60;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 180ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

.successStories img {
  border-radius: 7px 7px 0 0;
  min-height: 200px;
  height: 200px;
  width: 100%;
}

.successStories .play:hover svg.svg-inline--fa.fa-play.fa-w-14 {
  display: block;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.successStories button {
  margin: 30px 0;
}

.story-border {
  border: 4px solid #e4f1fd;
  border-radius: 7px;
  margin-top: -7px;
  color: #656262;
  padding: 42px 30px 0;
}

.story-border ul {
  border-top: 2px solid #e4f1fd;
  list-style-type: none;
  color: #50ab60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.story-border li {
  margin: 20px;
}

.story-border span {
  color: #656262;
}

.story-border svg:not(:root).svg-inline--fa {
  font-size: 20px;
}

.story-info {
  min-height: 320px;
}

.story-info time {
  font-size: 16px;
  opacity: .8;
}

.story-info a, .story-info a:hover {
  text-decoration: none;
  color: #656262;
}

.story-info h3 {
  margin: 20px 0;
  font-family: LatoWebLight,LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
}

/**********************stories*******************/
/**************footer****************************/
footer {
  margin-top: 100px;
  background: #232d40;
  color: #ccc;
}

footer .container {
  padding: 85px 15px;
}

footer p {
  font-weight: 300;
  margin: 30px 0;
  font-size: 14px;
  line-height: 17px;
}

footer h4, footer li {
  font-size: 14px;
  line-height: 50px;
  font-weight: 300;
  font-family: LatoWebLight,LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
}

footer a {
  color: #ccc;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  color: #50ab60;
  text-decoration: none;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social a {
  background: #485266;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 10px 10px 0;
  text-align: center;
  display: block;
}

footer .social a:hover {
  color: #fff;
}

.copyright {
  background: #1b2434;
  color: #fff;
  font-weight: 400;
  font-family: LatoWeb,Lato,open sans,Trebuchet,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.copyright p {
  margin: 0;
  text-align: center;
  padding: 17px 15px 14px;
}

/**************footer****************************/
.profile-header {
  position: relative;
  background: #f5f5f5;
  padding: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.profile-header li {
  padding-left: 20px;
}

.profile-header a {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: -4px;
  display: block;
  border-bottom: 4px solid transparent;
  border-radius: 4px;
  padding: 10px 0;
  color: #656262;
  font-size: 14px;
}

.profile-header a:hover {
  border-bottom: 4px solid #50ab60;
  color: #50ab60;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: none;
}

.profile-header a.active {
  border-bottom: 4px solid #50ab60;
  color: #50ab60;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  text-decoration: none;
}

.dropdown-menu {
  left: auto;
}

.feedBackground {
  background: #f0f0f0;
  padding: 40px 0 100px;
  margin-bottom: -100px;
  /******feedHeader*****/
}

.feedBackground .container {
  max-width: 700px;
  border: 1px solid #e5e9f2;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
  background: #f8f9fb;
  border-top: 1px solid #e5e9f2;
}

.feedBackground .feedHeader {
  background: #fff;
  padding: 12px 5px;
  /******* A *****/
}

.feedBackground .feedHeader .pull-left {
  font-size: 16px;
  color: #333f55;
  line-height: 35px;
}

.feedBackground .feedHeader .pull-right {
  float: right;
}

.feedBackground .feedHeader .followers a {
  position: relative;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.feedBackground .feedHeader .followers a:nth-child(2n) {
  z-index: 19;
}

.feedBackground .feedHeader .followers a:first-child {
  z-index: 20;
  margin-left: 0;
}

.feedBackground .feedHeader .followers a:hover {
  border: 2px solid #e5e9f2;
  margin-left: 0;
}

.feedBackground .seeMore
span {
  color: #ebecef;
}

.feedBackground .seeMore
span:hover {
  color: #50ab60;
}

.feedBackground .btn {
  background: #ebecef;
  color: #333f55 !important;
  border-radius: 50px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin-right: 6px;
}

.feedBackground .btn:hover {
  background: #50ab60;
  color: #fff !important;
}

.feedPerson {
  padding: 0 15px 30px;
}

.feedPerson .personCard {
  border: 1px solid #e5e9f2;
  position: relative;
  border-radius: 4px;
  background: #fff;
  padding: 23px;
  text-align: center;
  display: block;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin-top: 30px;
}

.feedPerson .personCard .personImg {
  display: block;
  margin: 0 auto 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.feedPerson .personCard .personName {
  color: #50ab60;
  display: block;
}

.feedPerson .personCard .btn-follow {
  margin-top: 15px;
  background: #fff;
  border: 1px solid #e5e9f2;
  border-radius: 4px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  width: 100%;
  margin-right: 0;
}

.feedPerson .personCard .btn-follow:hover {
  color: #fff;
  background: #333f55;
}

/*********************feed************************/
/*# sourceMappingURL=style.css.map */